*.pyc
**.pyc
ipython_config.py
.ipynb_checkpoints
*/__pycache__
**/__pycache__
*.pkl
**.cpython-36.pyc
*/__pycache__/*
*/.vscode*
*.code-workspace
.vscode*
*.swp
__pycache__/
experiments/logs*
experiments/eval_result*
lib/knn/build/
lib/knn/dist/
*.egg-info
*.so
lib/knn/knn_pytorch/*.so
lig/knn/*.egg-info
.vscode/settings.json
